@model OrderReviewViewModel

@{
    ViewData["Title"] = "Order Review";
    Layout = null;
}

<!-- Bootstrap table for orders -->

<div class="container mt-3">
    <h2>Orders</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th>Date Placed</th>
            <th>Amount</th>
            <th>Shipping Address</th>
            <th>Likely Fraud</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.TransactionId</td>
                <td></td>@* @order.Status *@
                <td></td>@* @order.CustomerName *@
                <td>@order.Date</td>
                <td>$@order.Amount</td>
                <td>@order.ShippingAddress</td>
                <td>@order.Fraud </td>
            </tr>
        }
        </tbody>
    </table>
    <!-- Pagination here -->
</div>

<div class="container">
    <div class="pagination-container">
        <span>@(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.ItemsPerPage - (Model.PaginationInfo.ItemsPerPage - 1)) to @Math.Min(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.ItemsPerPage, Model.PaginationInfo.TotalItems) of @Model.PaginationInfo.TotalItems</span>
        <a href="@Url.Action("OrderReview", new { pageNum = Model.PaginationInfo.CurrentPage - 1 })" class="btn btn-default @(Model.PaginationInfo.CurrentPage == 1 ? "disabled" : "")">Previous</a>
        <a href="@Url.Action("OrderReview", new { pageNum = Model.PaginationInfo.CurrentPage + 1 })" class="btn btn-default @(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.ItemsPerPage >= Model.PaginationInfo.TotalItems ? "disabled" : "")">Next</a>
    </div>
</div>