@model OrderReviewViewModel

@{
    ViewData["Title"] = "Order Review";

}

<style>
    .main-content {
        margin-top: 100px; /* Adjust this value to the height of your header */
    }
</style>

<div class="container mt-5"> <!-- Increased margin-top to mt-5 -->
    <h2>Orders</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th>Date Placed</th>
            <th>Amount</th>
            <th>Transaction Country</th>
            <th>Shipping Address</th>
            <th>Likely Fraud</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model.Orders)
        {
        <tr>
            <td>@order.TransactionId</td>
            <td></td> <!-- status -->
            <td>@order.CustomerName</td>
            <td>@order.Date</td>
            <td>$@order.Amount</td>
            <td>@order.TransactionCountry</td>
            <td>@order.ShippingAddress</td>
            <td>@order.Fraud</td>
        </tr>
        }
        </tbody>
    </table>
    <!-- Pagination here -->
</div>

<div class="container align-content-center">
    <div class="pagination-container">
        <a href="@Url.Action("OrderReview", new { pageNum = Model.PaginationInfo.CurrentPage - 1 })" class="btn btn-default @(Model.PaginationInfo.CurrentPage == 1 ? "disabled" : "")">Previous</a>
        <span>@(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.ItemsPerPage - (Model.PaginationInfo.ItemsPerPage - 1)) to @Math.Min(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.ItemsPerPage, Model.PaginationInfo.TotalItems) of @Model.PaginationInfo.TotalItems</span>
        <a href="@Url.Action("OrderReview", new { pageNum = Model.PaginationInfo.CurrentPage + 1 })" class="btn btn-default @(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.ItemsPerPage >= Model.PaginationInfo.TotalItems ? "disabled" : "")">Next</a>
    </div>
</div>