@model OrderReviewViewModel

@{
    ViewData["Title"] = "Order Review";

}

<style>
    .main-content {
        margin-top: 100px; /* Adjust this value to the height of your header */
    }
    .custom-btn-color {
        background-color: #ef946e; /* Replace #yourColorCode with your desired color */
    }
    thead {
        background-color: #ef946e; /* Adjust the color as needed */
        border-radius: 20px 20px 0 0; /* Rounded corners at the top */
    }
</style>

<div class="container my-4"> <!-- Spacing above and below this container -->
    <div class="row mb-3"> <!-- Spacing below the row -->
        <div class="col-6">
            <h2 class="mb-0" style="color:#F06525; font-weight: bold">Orders</h2> <!-- No bottom margin for the title -->
        </div>
        <form asp-action="OrderReview" method="get" class="col-6 text-end">
            <input type="search"  name="searchQuery" class="form-control d-inline-block w-auto" placeholder="Search orders by ID" />
            <button class="btn btn-secondary ml-2 custom-btn-color" style="color: white" >Search</button>
        </form>
    </div>  
 
    <div class="row mb-3">
        <div class="col-6">
            @* <form asp-action="PerformMassAction" asp-controller="OrderReview" method="post"> *@
            @*     <div class="dropdown d-inline-block"> *@
            @*         <i class="fa-solid fa-gear"></i> *@
            @*         <button class="btn btn-secondary dropdown-toggle rounded-pill" type="button" id="actionsDropdown" data-bs-toggle="dropdown"> *@
            @*             Actions on Selected Rows *@
            @*         </button> *@
            @*         <div class="dropdown-menu" aria-labelledby="actionsDropdown"> *@
            @*             <a type="submit" class="dropdown-item" name="action" value="processing">Set as Processing</a> *@
            @*             <a type="submit" class="dropdown-item" name="action" value="onHold">Set as On Hold for Fraud</a> *@
            @*             <a type="submit" class="dropdown-item" name="action" value="shipped">Set as Shipped</a> *@
            @*             <a type="submit" class="dropdown-item" name="action" value="canceled">Set as Canceled</a> *@
            @*             <a type="submit" class="dropdown-item" name="action" value="Completed">Set as Completed</a> *@
            @*         </div> *@
            @*     </div> *@
            @* </form> *@
            <form asp-action="OrderReview" method="get">
                <div class="dropdown d-inline-block ml-2">
                    <i class="fa-solid fa-filter"></i>                    
                    <button class="btn custom-btn-color btn-secondary dropdown-toggle rounded-pill" type="button" id="statusDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                    </button>
                    <div class="dropdown-menu" aria-labelledby="statusDropdown">
                        <button class="dropdown-item" type="submit" name="orderStatus" value="">All</button>
                        <button class="dropdown-item" type="submit" name="orderStatus" value="OrderPlaced">Order Placed</button>
                        <button class="dropdown-item" type="submit" name="orderStatus" value="Processing">Processing</button>
                        <button class="dropdown-item" type="submit" name="orderStatus" value="OnHoldForFraud">On Hold for Fraud</button>
                        <button class="dropdown-item" type="submit" name="orderStatus" value="Shipped">Shipped</button>
                        <button class="dropdown-item" type="submit" name="orderStatus" value="Canceled">Canceled</button>
                        <button class="dropdown-item" type="submit" name="orderStatus" value="Completed">Completed</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-6 text-end">
            <form asp-action="OrderReview" method="get">
                <span class="pr-2 align-middle">From</span>
                <input name="startDate" type="date" class="form-control d-inline-block w-auto rounded" value=""/>
                <span class="px-2 align-middle">to</span>
                <input name="endDate" type="date" class="form-control d-inline-block rounded w-auto" value=""/>
                <button type="submit" class="btn custom-btn-color btn-secondary">Filter</button>
                <a href="@Url.Action("OrderReview")" class="btn btn-secondary">Clear</a>
            </form>
        </div>

    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th>Date Placed</th>
            <th>Amount</th>
            <th>Transaction Country</th>
            <th>Shipping Address</th>
            <th>Likely Fraud</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.TransactionId</td>
                <td>@order.OrderStatus</td> <!-- status -->
                <td>@order.CustomerName</td>
                <td>@(order.Date.HasValue ? order.Date.Value.ToString("MM/dd/yyyy") : "")</td> <td>$@order.Amount</td>
                <td>@order.TransactionCountry</td>
                <td>@order.ShippingAddress</td>
                <td>@order.Fraud</td>
            </tr>
        }
        </tbody>
    </table>
    <!-- Pagination here -->
</div>

<div class="container align-content-center">
    <div class="pagination-container">
        <a href="@Url.Action("OrderReview", new { pageNum = Model.PaginationInfo.CurrentPage - 1, searchQuery = Model.SearchQuery, orderStatus = Model.OrderStatus, startDate = Model.StartDate, endDate = Model.EndDate })" class="btn btn-default @(Model.PaginationInfo.CurrentPage == 1 ? "disabled" : "")">Previous</a>
        <span>@(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.ItemsPerPage - (Model.PaginationInfo.ItemsPerPage - 1)) to @Math.Min(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.ItemsPerPage, Model.PaginationInfo.TotalItems) of @Model.PaginationInfo.TotalItems</span>
        <a href="@Url.Action("OrderReview", new { pageNum = Model.PaginationInfo.CurrentPage + 1, searchQuery = Model.SearchQuery, orderStatus = Model.OrderStatus, startDate = Model.StartDate, endDate = Model.EndDate })" class="btn btn-default @(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.ItemsPerPage >= Model.PaginationInfo.TotalItems ? "disabled" : "")">Next</a>

    </div>
</div>